.tags-space {
    padding-top: 24px;
}

.tags-text {
    font-weight: 600;
    font-size  : 13px;
    line-height: 18px;
    color      : #697488 !important;
}

.tags-search {
    margin: 24px 17px 24px 24px !important;
    width : 80% !important;

}

.tags-checkbox-container {
    overflow    : overlay;
    height      : 142px;
    overflow-x  : hidden;
    padding-left: 24px;
}

.tags-box {
    background-color: white;
    padding         : 4px;
    width           : 296px;
    height          : 274px;
}